.div-grid-item .div-grid-item-top,
.div-grid-item .div-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    width: 98%;
    height: 125px;

    padding: 10px;
    padding-top: 5px;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 13px;
}
