<ul>
  <li *ngFor="let product of products" >
    <div class="div-grid-item card">

<div style="height: 80px;width: 80px; ">
  <img style="height: 50px;width: 50px;margin-top: 10px;" src='{{"../../assets/images/" + product.p_name + ".png"}}' alt="{{product.p_name}}">

    <div style="align-self: center;     margin-right: 15px;">{{product.p_name}}</div>
    <div style="display: flex; margin-top: 3px;">
      <label style="margin-right: 5px;" for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" min="0" max="5"> 
    <button style="width: 60px; margin-left: 5px;" onclick="myFunction()">Add</button>
</div>
    <!-- <img style="height: 50px;width: 50px;margin-top: 10px;" src='{{"../../assets/images/" + product.p_name + ".png"}}' alt="{{product.p_name}}"> -->
  </div>
  <div>


  </div>
  </div>
 
     <!-- <span aria-hidden="true">{{dat.cmd}}</span> -->
  </li>
</ul>



 